@charset "UTF-8";
@import url('./common.css');

/* s : 이미지 슬라이드 */
.slider { position: relative; /* height: 100% !important; */
 min-width: 1200px; } 

.slider .slider__img { position: relative; height: 580px; } 

.slider .slider__img::before { display: block; position: absolute; top: 0; left: 0; z-index: 10; width: 100%; height: 300px; background: -moz-linear-gradient(top, #02abec 0%, rgba(255, 255, 255, 0) 65%); /* FF3.6-15 */
 background: -webkit-linear-gradient(top, #674ea7 0%, rgba(255, 255, 255, 0) 65%); /* Chrome10-25,Safari5.1-6 */
 background: linear-gradient(to bottom, #674ea7 0%, rgba(255, 255, 255, 0) 65%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 content: ''; } 
.slider .slider__img img { position: absolute; top: 0; margin-right: -960px; } 
.bx-wrapper { border: 1px solid #fff !important; background: #fff; -moz-box-shadow: 0 0 5px #ccc; -webkit-box-shadow: 0 0 5px #ccc; box-shadow: 0 0 5px #ccc; } 

.bx-wrapper .bx-controls-direction a { position: absolute; top: 50%; z-index: 3 !important; width: 32px; height: 32px; margin-top: -16px; outline: 0; text-indent: -9999px; } 
/* e : 이미지 슬라이드 */

.parent { position: relative; width: 100%; height: 800px; background-color: red; } 
.child { position: absolute; top: 50%; left: 50%; width: 100px; height: 100px; background-color: blue; transform: translate(-50%, -50%); } 

.content { position: relative; width: 100%; margin: 0 auto; min-width: 1200px; box-sizing: border-box; } 
.content::after { display: block; clear: both; } 
.content__form { box-sizing: border-box; } 
.content__form:after { display: block; clear: both; content: ''; } 

/* s : 배너 및 공지 영역 */
.content__form__01 { display: block; position: relative; top: 0; bottom: 50px; width: 100%; } 
.content__form__01 img { position: relative; width: 100%; height: 300px; } 
.content__form__01 .notice { float: left; width: 33.3%; height: 300px; background-color: paleturquoise; } 
.content__form__01 .banner1 { float: left; width: 33.3%; height: 300px; background-color: peachpuff; } 
.content__form__01 .banner2 { float: left; width: 33.3%; height: 300px; background-color: peru; } 
.content__form__01 .banner2 img { display: none; } 
/* e : 배너 및 공지 영역 */

/* s : 신상품 목록 */
.wrap__form { position: relative; width: 100%; height: 600px; } 
.wrap__sub__form { box-sizing: border-box; } 
.wrap__sub__form:after { display: block; clear: both; content: ''; } 
.wrap__sub__form { position: absolute; top: 50%; left: 50%; width: 1200px; height: 100%; margin-top: 50px; transform: translate(-50%, -50%); } 
.prod__form { padding: 0; margin-top: 0; } 
.prod__form h1 { display: block; font-size: 3em; font-weight: 700; } 
.prod__list li { display: inline-block; overflow: hidden; position: relative; left: 5%; margin: 30px; } 
.prod__list li img { /* float: left; */ /* z-index: 5; */ width: 300px; height: 200px; padding: 0; margin: 0; } 

.prod__list li .caption { position: absolute; top: 200px; z-index: 10; width: 300px; height: 200px; background: rgba(0, 0, 0, 0.6); padding-top: 20px; opacity: 0; } 
.prod__list li:hover .caption { opacity: 1; transform: translateY(-200px); } 
.prod__list .caption h1,
.prod__list .caption p { overflow: hidden; margin: 10px; color: #fff; text-align: center; padding-top: 20px; } 
/* e : 신상품 목록 */

/* s : 이미지 변형 */
.prod__photo { display: inline; position: relative; left: 12.5%; } 
.prod__photo img { width: 300px; height: 200px; } 
.prod__photo .p1,
.prod__photo .p2,
.prod__photo .p3 { float: left; } 
.prod__photo .p1 img:hover { transform: scale(1.5); transition: 2s ease-in; } 
.prod__photo .p2 { animation: rotate 1.5s infinite; } 
/* @keyframes rotate { 
 from { transform: perspective(250px) rotateX(0deg) rotateY(0deg); } 
 50% { transform: perspective(250px) rotateX(0deg) rotateY(-180deg); } 
 to { transform: perspective(250px) rotateX(0deg) rotateY(-365deg); } 
 }*/
.prod__photo .p3:hover { opacity: 0.5; } 
/* e : 이미지 변형 */