@charset "UTF-8"; 
@import url('./common.css'); 
@import url('./header.css'); 

/* s : 기본 프레임 */
html,
body { height: 100%; } 
body { display: flex; overflow: hidden; margin: 0; flex-direction: column; } 
section { overflow: scroll; flex: 1; } 
/* e : 기본 프레임 */

img,
legend { border: 0; vertical-align: top; } 
a { color: inherit; text-decoration: none; background-color: transparent; } 

/* s : visual */
.visual__sub__container { position: relative; height: 400px; min-width: 1200px; } 

.visual__sub__container .visual__sub__img { overflow: hidden; position: relative; height: 400px; text-align: center; } 

.visual__sub__container .visual__sub__img::before { display: block; position: absolute; top: 0; left: 0; z-index: 1; width: 100%; height: 280px; background: -moz-linear-gradient(top, #674ea7 0%, rgba(255, 255, 255, 0) 65%); /* FF3.6-15 */
 background: -webkit-linear-gradient(top, #674ea7 0%, rgba(255, 255, 255, 0) 65%); /* Chrome10-25,Safari5.1-6 */
 background: linear-gradient(to bottom, #674ea7 0%, rgba(255, 255, 255, 0) 65%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 content: ''; } 

.visual__sub__container .visual__sub__img img { position: absolute; top: 0; right: 50%; margin-right: -960px; } 
.visual__sub__container .visual__sub { position: absolute; top: 0; left: 50%; width: 1200px; height: 630px; margin: 0 0 0 -600px; } 
.visual__sub__container .visual__sub .visual__sub__copy { position: relative; top: 200px; left: 0; z-index: 1; color: #fff; text-align: center; } 
.visual__sub__container .visual__sub .visual__sub__copy h2 { position: relative; font-size: 60px; font-weight: 700; line-height: 1; text-shadow: 0 0 5px rgba(0, 0, 0, 0.3); } 
/* e : visual */

/* s : 중앙 위치 세팅 */
.wrap__form { position: relative; width: 100%; height: 100%; } 
.wrap__sub__form { position: absolute; top: 50%; left: 50%; width: 1200px; height: 100%; box-sizing: border-box; margin-top: 50px; transform: translate(-50%, -50%); } 
/* e : 중앙 위치 세팅 */

/* s : 신상품 목록 */
.prod__form { display: flex; width: 100%; padding: 0; box-sizing: border-box; margin-top: 0; flex-wrap: wrap; justify-content: center; } 
.prod__form h1 { font-size: 3em; font-weight: 700; }
.prod__sub__form { display: flex; position: relative; width: 1050px; margin-top: 50px; margin-bottom: 75px; } 

.prod__list { display: grid; width: 100%; grid-template-columns: repeat(auto-fill, 249px); gap: 24px 18px; } 
.prod__list__item { display: flex; height: 538px; color: rgb(51, 51, 51); flex-direction: column; cursor: pointer; } 
.prod__list__item__img { overflow: hidden; position: relative; width: 249px; height: 320px; background-color: rgb(245, 245, 245); } 
.prod__list__item__img > img { width: 100%; height: 100%; object-fit: cover; transition: all 0.5s ease-in-out 0s; } 
.prod__list__item__img > img:hover { transform: scale(1.1); transition: 0.5s ease-in; } 
.prod__list__item__like { position: absolute; right: 16px; bottom: 16px; } 
.prod__list__item__like > img:hover { opacity: 0.9; background-color: #887fa1; border-radius: 50%; padding-top: 2px;}

.prod__list__item__desc { padding: 14px 10px 0px 0px; } 
.prod__list__item__desc__best { display: block; padding-bottom: 2px; } 
.prod__list__item__desc__best_g { color: rgb(153, 153, 153); font-size: 14px; line-height: 19px; letter-spacing: -0.5px; } 
.prod__list__item__desc__tit { display: -webkit-box; overflow: hidden; white-space: normal; max-height: 58px; margin-bottom: 8px; font-size: 16px; line-height: 24px; letter-spacing: normal; word-break: break-all; -webkit-line-clamp: 2; -webkit-box-orient: vertical; } 
.prod__list__item__desc__price { display: flex; flex-direction: column; } 
.prod__list__item__desc__price .sales__price { white-space: nowrap; font-weight: 800; font-size: 16px; line-height: 24px; letter-spacing: -0.5px; } 
.sales__price__color { color: rgb(51, 51, 51); white-space: nowrap; } 
.prod__list__item__desc__tag { display: -webkit-box; overflow: hidden; color: rgb(153, 153, 153); white-space: normal; padding-top: 12px; font-size: 12px; line-height: 18px; letter-spacing: normal; word-break: break-all; -webkit-line-clamp: 2; -webkit-box-orient: vertical; } 
/* e : 신상품 목록 */