/*--- 팝업 ---*/
.pop--fixed {
	position: fixed;
	border-radius: 8px;
	border: solid 1px #222;
	background: #fff;
	z-index: 1100;
	box-sizing: border-box;
	top: 50%;
	left: 50%;
	display: none;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-webkit-box-shadow: 0px 3px 17px 0px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 3px 17px 0px rgba(0, 0, 0, 0.4);
}

.pop--fixed.pop__msg {
	z-index: 1110;
}

.pop__msg {
	border-radius: 8px;
	border: solid 1px #222;
}

.pop__msg .wrap__pop__btn {
	display: flex;
	flex-wrap: flex;
	border-radius: 0 0 6px 6px;
	overflow: hidden;
}

.pop__msg .wrap__pop__btn button {
	flex: 1 1 50%;
	border-radius: 0;
	height: 59px;
	min-width: auto;
}

.pop__msg .wrap__pop__btn .btn__base--line {
	border: none;
	border-top: solid 1px #222;
}

.pop__msg .wrap__pop__msg {
	padding: 25px 30px;
	text-align: center;
	font-size: 16px;
}

.pop300 {
	width: 300px;
}
.pop400 {
	width: 400px;
}
.pop500 {
	width: 500px;
}
.pop600 {
	width: 600px;
}
.pop700 {
	width: 700px;
}
.pop800 {
	width: 800px;
}
.pop900 {
	width: 900px;
}
.pop1000 {
	width: 1000px;
}

.pop--overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background: rgba(0, 0, 0, 0.5);
	display: none;
}

.header__pop {
	position: relative;
	height: 59px;
	border-bottom: solid 1px #ddd;
	box-sizing: border-box;
}
.header__pop h2 {
	position: absolute;
	top: 18px;
	left: 30px;
	font-size: 18px;
	font-weight: 700;
}
.header__pop .btn--close {
	position: absolute;
	top: 20px;
	right: 30px;
	display: block;
	width: 18px;
	height: 18px;
	background: url("../img/ico-x.png") no-repeat center;
	transition: all 0.6s ease;
	-webkit-transition: all 0.6s ease;
}
.header__pop .btn--close:hover {
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
}

.content__pop {
	position: relative;
	padding: 30px;
	box-sizing: border-box;
}
.content__pop:after {
	content: "";
	display: block;
	clear: both;
}

.content__pop__tt1 {
	font-size: 16px;
	line-height: 1.6;
}

.wrap__content__pop__tit {
	font-size: 18px;
	font-weight: 700;
	line-height: 1;
	margin-bottom: 20px;
}

.wrap__content__pop__btn {
	margin: 40px 0 10px;
	font-size: 0;
}

.wrap__content__pop__btn.right {
	text-align: right;
}

.wrap__content__pop__btn.right .btn__base {
	margin-left: 10px;
	height: 50px;
}

.wrap__content__pop__btn.left {
	text-align: left;
}

.wrap__content__pop__btn.left .btn__base {
	margin-right: 10px;
	height: 50px;
}

.wrap__content__pop__btn.center {
	text-align: center;
}

.wrap__content__pop__btn.center .btn__base {
	margin: 0 10px;
	height: 50px;
}

.wrap__pop__main {
	position: fixed;
	top: 10px;
	left: 50%;
	width: 1440px;
	margin: 0 0 0 -720px;
	z-index: 1100;
	overflow: hidden;
}

.wrap__pop__main:after {
	display: block;
	clear: both;
	content: "";
}

.pop__main {
	position: relative;
	top: auto;
	left: auto;
	float: left;
	border-radius: 0;
	margin: 0 10px 20px;
	border: none;
	width: 460px;
	-webkit-box-shadow: 0 0 0;
	box-shadow: 0 0 0;
	transform: translate(0, 0);
	-webkit-transform: translate(0, 0);
}

.pop__main--top2 {
}

.pop__main--position1 {
	margin-left: -710px;
}

.pop__main--position2 {
	margin-left: -230px;
}

.pop__main--position3 {
	margin-left: 250px;
}

.pop__main--position4 {
	top: 360px;
	margin-left: -710px;
}

.pop__main--position5 {
	top: 360px;
	margin-left: -230px;
}

.pop__main--position6 {
	top: 360px;
	margin-left: 250px;
}

.header__pop__main {
	position: relative;
	height: 60px;
	border-bottom: solid 1px #ddd;
	box-sizing: border-box;
}

.header__pop__main h2 {
	position: absolute;
	top: 13px;
	left: 30px;
}

.header__pop__main h3 {
	position: absolute;
	top: 18px;
	right: 30px;
	font-size: 18px;
	font-weight: 700;
	color: #063574;
}

.wrap__pop__content {
	overflow-y: auto;
	height: 180px;
	padding: 0 30px;
	margin-top: 30px;
	box-sizing: border-box;
}

.wrap__pop__content.scroll--auto {
	max-height: none;
}

.wrap__pop__content .wrap__pop__content__tit {
	font-size: 17px;
	padding: 0 0 15px;
	margin: 0 0 15px;
	border-bottom: dashed 1px #ddd;
	font-weight: 700;
}

.wrap__pop__content:after {
	content: "";
	display: block;
	height: 30px;
}

.wrap__pop__content img {
	width: 100%;
	max-width: 400px;
	margin: 20px 0;
}

.wrap__pop__content .wrap__pop__content__tit + p img {
	margin: 0 0 20px;
}

.wrap__pop__content .btn__base {
	width: 180px;
	font-size: 14px;
	height: 40px;
}

.wrap__pop__content__bottom {
	position: relative;
	height: 62px;
	padding: 20px 30px;
	background: #f4f4f4;
	font-size: 16px;
	box-sizing: border-box;
}

.wrap__pop__content__bottom.radius {
	border-radius: 0 0 8px 8px;
}

.wrap__pop__content__bottom .btn--close {
	position: absolute;
	top: 22px;
	right: 30px;
	padding-right: 20px;
	background: url("../image/ico-pop-close.png") no-repeat right center;
}
